/* ACTIVITIES */
.activities-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.activities-container > div{
    margin-top:2.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.activities-container > div > h2{
    color:khaki;
}
.activities-container > div > img{
    width: 30rem;
    height:25rem;
    border-radius:2%;
}
.activities-container > div > p{
    color:khaki;
    font-style:italic;
    font-size: x-large;
    margin-left:auto;
    margin-right:auto;
    width: 75%;
    text-align:center;    
}

/* FLOATING BUTTON */
.floating-btn {
  /* Positioning */
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  /* Behavior */
  display: inline-block;
  text-decoration: none; /* Removes the underline */
  text-align: center;

  /* Styling */
  padding: 12px 24px;
  background-color: khaki;
  color: black;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}

.floating-btn:hover {
  background-color: gold;  
  color:black;
  transform: translateY(-2px);  
}