.col {
    transition: all 0.5s;
}

/* animation */
.left-to-right {
    transform: translateX(-10rem);
    opacity: 0;
}

.right-to-left {
    transform: translateX(10rem);
    opacity: 0;
}

.fades-in {
    opacity: 0;
}
.appear-on-scroll {
    transform: translateX(0);
    opacity: 1;
}