.col {
    transition: all 0.5s;
}

/* animation on scroll*/
.left-to-right{
    transform: translateX(-10rem);
    opacity: 0;
}

.right-to-left {
    transform: translateX(10rem);
    opacity: 0;
}

.fades-in {
    opacity: 0;
}
.appear-on-scroll {
    transform: translateX(0);
    opacity: 1;
}

/* animation on page load */
@keyframes slideInLeft{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0);
    }
}

@keyframes slideInRight{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }

}

.my-image-container,
.form-group label{
    animation:0.25s ease-out 0s 1 slideInLeft;
}
.my-intro-container,
.form-group input,
.form-group textarea{
    animation:0.25s ease-out 0s 1 slideInRight;
}

/* animation floating */
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color:white;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}