* {
    padding: 0;
    margin: 0;
    color: white;
}
body{
    background-color:black;
}
h1{
    color:khaki;
    text-align:center;
    padding: 0.25rem;
    font-size: xx-large;
}
#clickable-button-container{
    display:flex;
    justify-content: center;    
}
.clickable-button {
    border: 1px solid khaki;
    color: khaki;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    font-size: large;
    transition: transform 0.2s;
    padding: 0.5rem; 
    text-decoration: none;
    text-align:center;
    font-size: x-large;
}

.clickable-button:hover {
    transform: translate(0px, -5px);
    background-color: khaki;
    color: black;
}

