

/* PHONE SIZE */
@media screen and (max-width:767px){
    /* MENU */
    header{
        width:100%;
        padding:0.25rem;
        position:sticky;
        top:0;
    }
    .menu-logo-container{
        width:90%;
        justify-content:start;
    }
    .menu-logo-container h1,
    .menu-logo-container a{
        font-size:large;
    }

    .menu-list-container{
        display:none;
        flex-direction:column;
        width:90%;
    }
    .menu-button{
        display:inline;
        width:10%;
    }
    .menu-button div{
        width: 5rem;
        height:0.25rem;
        background-color: black;
        margin: 0.25rem 0rem;
    }
    .close-menu-button{
        width:10%;
        text-align:center;
    }
    .close-menu-button span{
        font-size: x-large;
        color:black;
    }
    /* HERO SECTION */
    .hero-container{
        flex-direction:column;
        justify-content:center;
    }
    .my-image-container img{
        height:10rem;
    }
    .my-intro-container{
        margin-top:3rem;
    }
    .my-intro-container > p:first-child{
        font-size: 1.8rem;        
        color:khaki;
        text-align:center;
    }
    .my-intro-container > p:nth-child(2){
        font-size:1.5rem;
        text-align:center;
    }
    .my-intro-container > p:last-of-type{
        font-size:1.3rem;
        color:khaki;
        text-align:center;
    }

    /* ABOUT */
    #about-container div:first-child > p{
        font-size: medium;
        text-align:center;
        margin-bottom: 0.5rem;
    }
    .technologies-container > h6{
        margin-top:0.25rem;
    }

    /* COMMON SECTION HEADERS */
    #work-experience-container h2,
    #services-container h2,
    #projects-container h2{
        font-size:xx-large;
    }

    /* WORK EXPERIENCE */

    .jobs{
        width: 100%;
    }

    .jobs h4,
    .services h4{
        font-size:large;
    }

    .jobs h5,
    .services h4{
        font-size:large;
    }
    .jobs p,
    .services p{
        font-size: medium;
    }

    /* SERVICES */
    .services{
        width: 100%;
    }
    
    /* PROJECTS */

    .projects{
        flex-direction: column-reverse;
        margin-bottom:3rem;
    }
    .project-info{
        width: 90%;
        margin-right:auto;
        margin-left:auto;
    }
    .project-info h4{
        font-size:x-large;
    }
    .project-info p{
        font-size:medium;
    }
    .project-sample{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        justify-content:center;
        align-items:center;
        padding: 0.5rem;        
    }    
    
    /* FOOTER */
    .other-info-container h4{
        font-size: large;
    }
}