*{
    padding:0;
    margin:0;
    color:white;
}

img{
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color:black;
}
/* HEADER */
header{
    padding: 1rem;
    background-color: khaki;
    color:white;
}
header h1{
    color:black;
    text-align:center;
}

/* CONTACT CONTAINER*/
.contact-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:100%;
}

form{
    width: 60%;
    margin:auto;
    padding: 1rem;
}
.form-group{
    width: 100%;
    display:flex;
}
.form-group label{
    font-size: x-large;
    width: 20%;
    padding:0.25rem;
}
.form-group input,
.form-group textarea{
    color: black;
    font-size: large;
    width: 80%;
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 0.30rem;
    font-size: large;
    font-family: verdana;
}
.form-group input:focus,
.form-group textarea:focus{
    background-color: lightgrey;
}
.button-group{
    display:flex;
    justify-content: center;
}
.link-button{
    color: black;
    background-color: khaki;
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border:none;
    text-align:right;
    margin: 0.25rem;
    font-size: large;
}
.link-button:hover{
    background-color: white;
}
.video-frame-container{
    width:100%;
    display:none;
    justify-content:center;
}
.video-frame{
    width:60%;
    height:30rem;
}
/* ERROR MESSAGES */
.contact-error-message{
    display:none;
    color: orange;
    padding: 0.25rem;
    text-align: center;
    width: 60%;
    margin:auto;
}
.contact-fail-message{
    display:none;
    color: red;
    padding: 0.25rem;
    text-align: center;
    width: 60%;
    margin:auto;
}
.contact-success-message{
    display:none;
    color: khaki;
    padding:0.25rem;
    text-align: center;
    width: 60%;
    margin:auto;
    margin-top:1rem;
    margin-bottom:1rem;
    font-size: xx-large;
}
.contact-sending-message{
    display:none;
    color: khaki;
    padding:0.25rem;
    text-align: center;
    width: 60%;
    margin:auto;
}
.contact-sample-video-message{
    display:none;
    color:white;
    padding:0.25rem;
    text-align:center;
    width:60%;
    margin:auto;
}
#return-link{
    display:none;
    width: 4rem;
    margin:auto;
    font-size: x-large;
}
